.about {
	padding-bottom: 50px;
	width: var(--container-width);
	margin: 0 auto;
}

.about h2 {
	background: var(--orange-gradient);
	background-clip: text;
	color: transparent;
}

.about .words p {
	font-size: calc(1vw + 0.7rem);
	font-weight: 350;
}

.words {
	margin-top: -20px;
}
