.App > div {
	margin: 10rem 0;
	padding-left: 10rem;
	padding-right: 10rem;
}

.App > div:first-of-type {
	border-top: none;
}

.App.light {
	color: #343E4E;
	transition: all 0.5s;
	text-align: center;

}

.App.light .light {
	box-shadow: none;
	transition: all 1s;
}

.App.light .light h2 {
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1vw;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
	background-color: white;
	margin: 0 auto;
	margin-top: -25px;
	margin-bottom: 30px;
	padding: 10px 15px;
	width: 120px;
	border: 2px solid transparent;
}

.dark {
	box-shadow: 30px 20px 5px #232135;
	background-color: #181721;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #fff;
	transition: all 0.5s;
}

.dark:last-of-type {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: calc(1vw + 1.1rem);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.arrow {
	background-color: #232135;
	height: 60px;
	width: 60px;
	border-radius: 10px;
	display: grid;
	place-items: center;
	cursor: pointer;
	transition: all 0.5s;
}

.arrow svg {
	color: #6253e8;
}

.light .arrow{
	background-color: #f5f5f5;
	transition: all 0.5s;
}

@media only screen and (max-width: 800px) {
	.App > div {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}

@media only screen and (max-width: 418px) {
	.dark:last-of-type {
		font-size: calc(1vw + 0.8rem);
	}
}
