:root {
	--gradient: linear-gradient(to bottom right, #22CAFF, #3E7FFF);
	--gradientBlue: linear-gradient(to bottom right, #22CAFF, #3E7FFF);
	--gradientPink: linear-gradient(to bottom right, #FF6CC4, #FF4466);
	--gradientPurple: linear-gradient(to bottom right, #9757FF, #713FFF);
}

.home h2 {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0;
	padding-bottom: 35px;
}

.cta-btn-wrapper {
	display: grid;
	align-items: center;
	justify-content: center;
	margin-top: 11rem;
}

.cta-btn {
	background-color: transparent;
	width: 200px;
	transition: all 0.5s;
}

.home-picture {
	padding: 0 0 2rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.border{
	border-radius: 50%;
	border: 8px solid #fff;
	-webkit-animation: rainbow 10s infinite;
	-z-animation: rainbow 10s infinite;
	-o-animation: rainbow 10s infinite;
	animation: rainbow 10s infinite;}

@keyframes rainbow {
	0%{box-shadow: 0 0 0 8px #4690FF}
	50%{box-shadow: 0 0 0 8px #675AFF}
	100%{box-shadow: 0 0 0 8px #4690FF}
}

@-webkit-keyframes rainbow {
	0%{box-shadow: 0 0 0 8px #46D3FF}
	50%{box-shadow: 0 0 0 8px #675AFF}
	100%{box-shadow: 0 0 0 8px #46D3FF}
}
@-moz-keyframes rainbow {
	0%{box-shadow: 0 0 0 8px #46D3FF}
	50%{box-shadow: 0 0 0 8px #675AFF}
	100%{box-shadow: 0 0 0 8px #46D3FF}
}
@-o-keyframes rainbow {
	0%{box-shadow: 0 0 0 8px #46D3FF}
	50%{box-shadow: 0 0 0 8px #675AFF}
	100%{box-shadow: 0 0 0 8px #46D3FF}
}

.home-wrapper h1 {
	font-size: calc(2vw + 4rem);
	font-weight: 600;
	height: auto;
	margin-top: 2rem;
}

.home-wrapper .title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Typewriter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-wrapper h1 .typewriter {
	font-size: calc(2vw + 1rem);
	font-weight: 400;
}

.home-wrapper h1 .typewriter-cursor {
	font-size: calc(2vw + 1rem);
	font-weight: 300;
	color: #5585FF;
}

.home-wrapper h1 .gradientText {
	background: var(--gradientBlue);
	background-clip: text;
	color: transparent;
}

.btns {
	display: flex;
	justify-content: center;
}

.btn1 {
	border-radius: 30px;
	cursor: pointer;
	font-weight: 500;
	font-size: calc(1vw + 0.3rem);
	text-decoration: none;
	text-transform: uppercase;
	display: grid;
	place-items: center;
	min-height: 35px;
	background-origin: border-box;
	background-clip: content-box, border-box;
	margin: 20px 15px;
	width: 200px;
}

.btn-arrow {
	padding-top: 15px;
}

@media only screen and (max-width: 1040px) and (min-width: 899px) {
	.home {
		padding-top: 8rem;
	}
}

@media only screen and (max-width: 900px) and (min-width: 800px) {
	.home {
		padding-top: 8rem;
	}
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
	.home {
		padding-top: 8rem;
	}
}

@media only screen and (max-width: 600px) {
	.home {
		padding-top: 10rem;
	}

	.home-wrapper h1 {
		font-size: calc(1vw + 1.6rem);
	}

	.btn1 {
		width: 90px;
	}

	.btn2 {
		width: 120px;
	}
}
