:root {
	--gradient: linear-gradient(to bottom right, #22CAFF, #3E7FFF);
	--gradientBlue: linear-gradient(to bottom right, #1DAEFF, #433FFF);
	--gradientPink: linear-gradient(to bottom right, #FF6CC4, #FF4466);
	--gradientPurple: linear-gradient(to bottom right, #9757FF, #713FFF);
}

.home {
	background: #F9FBFF;
	padding-top: 10rem;
}

.home-picture {
	padding: 0 0 2rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.status {
	background: white;
	display: flex;
	align-items: center;
	border-radius: 40px;
	padding: 10px 25px 10px 20px;
	font-size: 1.4vw;
	font-weight: 600;
	position: absolute;
	margin-top: 160px;
	margin-left: 430px;
	height: 44px;
}

.status img {
	padding-right: 15px;
}

.status:first-of-type {
	margin-top: 80px;
	margin-left: 420px;
}

.status span {
	font-weight: 400;
	font-size: 1vw;
	padding-top: 5px;
	padding-left: 10px;
}

.border{
	border-radius: 50%;
	border: 8px solid #fff;
	-webkit-animation: rainbow 10s infinite;
	-z-animation: rainbow 10s infinite;
	-o-animation: rainbow 10s infinite;
	animation: rainbow 10s infinite;}

@keyframes rainbow {
	0%{box-shadow: 0 0 0 8px #4690FF}
	50%{box-shadow: 0 0 0 8px #675AFF}
	100%{box-shadow: 0 0 0 8px #4690FF}
}

@-webkit-keyframes rainbow {
	0%{box-shadow: 0 0 0 8px #46D3FF}
	50%{box-shadow: 0 0 0 8px #675AFF}
	100%{box-shadow: 0 0 0 8px #46D3FF}
}
@-moz-keyframes rainbow {
	0%{box-shadow: 0 0 0 8px #46D3FF}
	50%{box-shadow: 0 0 0 8px #675AFF}
	100%{box-shadow: 0 0 0 8px #46D3FF}
}
@-o-keyframes rainbow {
	0%{box-shadow: 0 0 0 8px #46D3FF}
	50%{box-shadow: 0 0 0 8px #675AFF}
	100%{box-shadow: 0 0 0 8px #46D3FF}
}

.home-wrapper h1 {
	font-size: calc(2vw + 5rem);
	font-weight: 600;
	height: auto;
	margin-top: 2rem;
}

.typewriter-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(2vw + 1rem);
	font-weight: 400;
}

.typewriter-cursor {
	animation: blink 1s step-end infinite;
	-webkit-animation: blink 1s step-end infinite;
	-z-animation: blink 1s step-end infinite;
	-o-animation: blink 1s step-end infinite;
}

@keyframes blink {
	0%,100%{color: white;}
	50%{color: #343E4E;}
}

@-webkit-keyframes blink {
	0%,100%{color: white;}
	50%{color: #343E4E;}
}
@-moz-keyframes blink {
	0%,100%{color: white;}
	50%{color: #343E4E;}
}
@-o-keyframes blink {
	0%,100%{color: white;}
	50%{color: #343E4E;}
}

.home-wrapper h1 .gradientText {
	background: var(--gradientBlue);
	background-clip: text;
	color: transparent;
}

@media only screen and (max-width: 1040px) and (min-width: 899px) {
	.home {
		padding-top: 8rem;
	}
}

@media only screen and (max-width: 900px) and (min-width: 800px) {
	.home {
		padding-top: 8rem;
	}
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
	.home {
		padding-top: 8rem;
	}
}

@media only screen and (max-width: 600px) {
	.home {
		padding-top: 10rem;
	}

	.home-wrapper h1 {
		font-size: calc(1vw + 1.6rem);
	}
}
