:root {
	--padding-width: 10rem;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	padding-left: var(--padding-width);
	padding-right: var(--padding-width);
	width: calc(100vw - calc(var(--padding-width) * 2));
	z-index: 101;
	display: flex;
	background-color: rgba(255, 255, 255, 0.97);
	justify-content: space-evenly;
}

.header {
	transition: all 1s;
  }

.nav ul {
	display: flex;
	align-content: space-between;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	padding-inline-start: 0;
	margin: 0;
	padding: 0;
}

.nav ul li, .nav ul li a{
	list-style: none;
	font-size: 0.85vw;
	font-weight: 600;
	text-transform: uppercase;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 120px;
}

.nav ul li:hover,
.nav ul li:active {
	cursor: pointer;
	border-image-source: linear-gradient(to right, #6253e8, #1da1f2);
	color: #205EFF;
}

.nav ul li .active {
	margin: 0 20px;
	color: #205EFF;
	border-bottom: 2px solid #5584FF;
}
