.Projects {
	display: flex;
	flex-direction: column;
}

.Projects h2 {
	background: var(--purple-gradient);
	background-clip: text;
	color: transparent;
}

.Projects > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}