:root {
	--project-color: #B3B2E3;
	--project-width: 324px;
	--border-radius: 10px;
	--blob-left: 238px;
}

.projects {
	padding-top: 5rem;
}

.projects h2 {
	background: var(--purple-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	color: transparent;
}

.projects > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.project {
	min-width: var(--project-width);
	max-width: var(--project-width);
	border-radius: var(--border-radius);
	margin: 2rem 5rem;
	position: relative;
	background-color: #fff;
	transition: all 0.5s;
}

.project h3 {
	font-size: 1.8vw;
	font-size: calc(1vw + 1rem);
	font-weight: 600;
	color: white;
	background: linear-gradient(to right, #9757FF, #aa60ff) border-box;
	padding: 8px 50px;
	margin: 0 -20px;
	z-index: 200;
	position: relative;
	align-content: center;
	text-align: center;
	display: inline-block;
	border: 5px solid white;
	top: -40px;
	border-radius: 40px;
}

.preview {
	display: grid;
}

.preview-background {
	background: linear-gradient(to bottom right, #54b4ff, #9757FF) border-box;
	mask-image: url('../images/project-thumb-mask-outline.svg');
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: 100%;
	-webkit-mask-image: url('../images/project-thumb-mask-outline.svg');
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: 100%;
	grid-area: 1 / 1;
}

.preview-overlay {
	width: 100%;
	height: 100%;
	display: grid;
	align-content: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.75);
}

.video_holder {
	width: 298px;
	height: 298px;
	margin: 13px;
	mask-image: url('../images/project-thumb-mask.svg');
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: 100%;
	-webkit-mask-image: url('../images/project-thumb-mask.svg');
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: 100%;
	grid-area: 1 / 1;
	justify-content: center;
	align-items: center;
	display: flex;
}

.video_holder_video {
	position: relative;
	/*rotate: -14.3deg;*/
}

.company {
	background-color: #000;
	color: #fff;
}

.project > p {
	margin-top: -1rem;
	margin-bottom: 2rem;
	color: #7285A1;
	font-size: calc(0.2vw + 0.8rem) ;
}

.project > p a {
	font-weight: 600;
	color: #9757FF;
}

.preview h3 {
	font-size: 0.85vw;
	font-weight: 400;
	color: white;
	background: linear-gradient(to right, #9757FF, #aa60ff) border-box;
	padding: 5px 20px;
	z-index: 200;
	text-align: left;
	white-space: nowrap;
	border: 3px solid white;
	position: absolute;
	top: 20px;
	left: 230px;
}

.software {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -40px;
}

.software div {
	width: 80px;
}

.software div svg, .software div img {
	min-height: calc(var(--project-width) - 290px);
	width: calc(var(--project-width) - 290px);
	color: var(--project-color);
	fill: var(--project-color);
	transition: all 390ms ease-in-out;
	margin-bottom: -8px;
}

.software div:hover {
	--project-color: #9757FF;
}

.software p {
	color: var(--project-color);
	font-weight: 600;
	font-size: calc(0.3vw + 0.5rem);
	margin-top: 10px;
}

.ui.button {
	font-family: 'Blinker', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
	font-weight: 400 !important;
	/*text-transform: uppercase !important;*/
	font-size: calc(0.3vw + 0.7rem) !important;
	color: white !important;
	background: linear-gradient(to right, #745bff, #6068ff) border-box !important;
	padding: 8px 15px 8px 20px !important;
	margin-bottom: 30px !important;
}

.ui.button > .icon:not(.button) {
	opacity: 1 !important;
}

@media screen and (max-width: 430px) {
	.project {
		margin: 0 0 2rem 0;
	}
	
	.project h3 {
		font-size: calc(1vw + 2rem);
	}
	
	.preview h3 {
		display: none;
	}

	.software div {
		width: 60px;
	}
}