:root {
	--skill-color: #B3B2E3;
	--container-width: 1200px;
	--skill-size: calc(var(--container-width) / 7);
}

.skills {
	display: flex;
	flex-direction: column;
}

.skills h2 {
	background: var(--pink-gradient);
	background-clip: text;
	color: transparent;
}

.skill {
	width: var(--container-width);
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skill div {
	margin-bottom: 20px;
	min-height: var(--skill-size);
	width: var(--skill-size);
	display: grid;
	place-items: center;
	padding: 20px;
}

.skill p {
	color: var(--skill-color);
	font-weight: 600;
	font-size: 1vw;
	margin-bottom: -2px;
}

.skill div svg {
	min-height: calc(var(--skill-size) - 40px);
	width: calc(var(--skill-size) - 40px);
	color: var(--skill-color);
	transition: all 390ms ease-in-out;
	margin-bottom: -5px;
}

.skill div:hover {
	--skill-color: #FF49A1;
}

@media only screen and (max-width: 600px) {
	:root {
		--container-width: 500px;
	}
}
@media only screen and (max-width: 500px) {
	:root {
		--container-width: 380px;
	}
}
@media only screen and (max-width: 350px) {
	:root {
		--container-width: 300px;
	}
}
